* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 20px;
}

.header__menu {
  justify-self: start;
}

.header__links
